{% extends 'blog/base.html' %}

{% block title %}
Edit profile
{% endblock %}

{% block content%}



<h2 class="d-block p-2 bg-dark text-white" style="font-family: 'Courier New', Courier, monospace ; text-align: center;">Edit Basic Info</h2>
<br><br>
<!--{{ user.profile.bio }}-->
<div class="form-group">
    <form method="POST">
        {% csrf_token %}

        {{ form.as_p}}

        <button class="btn btn-secondary"> Update </button>
        <br> <hr>
        Click <a href="{% url 'change_password' %}">here</a> to change your password.

    </form>
</div>

{% endblock %}