{% extends 'blog/base.html' %}

{% block title %}
    My Blog
{% endblock %}


{% block content %}

{% if category_posts %}
    <h2 class="d-block p-2 bg-dark text-white" style="font-family: 'Courier New', Courier, monospace ; text-align: center;">Under {{ cats }} Category </h2>
    <!-- <ul>
    {% for post in category_posts %}
        <li>
            <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>  - {{ post.author }} - 
            {{ post.post_date }}- {{ post.post_time }}
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    -<a href="{% url 'update_post' post.pk %}"> <small>(Edit Post)</small> </a> -
                    <a href="{% url 'delete_post' post.pk %}"> <small>(Delete Post)</small> </a>
                {% endif %}
            {% endif %}
            <br/>
            {{ post.body|slice:":200"|safe }}
        </li>

    {% endfor %}

    </ul> -->

    <ul style="list-style-type: none;">
        {% for post in category_posts %}
        <li>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <a class="text-decoration-none" href="{% url 'category' post.category %}">
                        <strong class="d-inline-block mb-2 text-success">{{ post.category }}</strong>
                    </a>
                    <h3 class="mb-0">
                    <a class="text-dark text-decoration-none" href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
                    </h3>
                    <div class="mb-1 text-muted">Author: 
                            {{ post.author.first_name }} 
                            {{ post.author.last_name }} <br> 
                            {{ post.post_date }}-at {{ post.post_time }}
                        {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                            -<a class="text-decoration-none" href="{% url 'update_post' post.pk %}"> <small>(Edit Post)</small> </a> -
                            <a class="text-decoration-none" href="{% url 'delete_post' post.pk %}"> <small>(Delete Post)</small> </a>
                        {% endif %}
        
                    {% endif %}
                    </div>
                    <p class="card-text mb-auto">{{ post.caption }}</p>
                    <a href="{% url 'article-detail' post.pk %}">Continue reading</a>
                </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>




{% else %}
<h2>No post found ...</h2>
{% endif %}
{% endblock %}